body {
    padding-bottom: 20px;
}

/*/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 10px;
}

.feature {
    margin-top: 8%;
    margin-left: 5%;
    position: absolute;
    width: 100%;
    max-height: 600px;
    overflow: hidden;
}

.container {
    margin-left: 15%;
    margin-right: 20%;
}

.nav-coral {
    background-color: #DE0052;
}

