@{
    ViewBag.Title = "Imma Fan";
}
<h2>@ViewBag.Title... @ViewBag.Message</h2>

<div class="row">
    <div class="col s12 m12">
        <div class="card horizontal">
            <div class="card-image">
                <img src="https://render.bitstrips.com/v2/cpanel/9941609-130484787_4-s4-v1.png?transparent=1&palette=1">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>
                        <h5>My name is Kristin! </h5><br />
                        As you can tell, I like teeny tiny carvings. I'll let you in on a secret though... 
                        <sub>I like anything that's teeny tiny!</sub>
                    </p>
                    <br/>
                    <p>
                        <strong>I'm also a fan of </strong>
                        <ul>
                            <li>Star Wars</li>
                            <li>Sushi</li>
                            <li>Cocktails</li>
                            <li>Fashion</li>
                            <li>Technology</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="http://thedailymini.com/wp-content/uploads/2011/02/starwars.jpg">
            </div>
            <div class="card-action">
                <a href="http://thedailymini.com/daily-mini-interview-miniature-crayon-carvings-by-wax-nostalgic/" target="_blank">
                    Colorful Star Wars Characters
                </a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="https://s-media-cache-ak0.pinimg.com/736x/0d/97/5b/0d975b300eeff2782ea3c4854d7459a6.jpg" target="_blank">
            </div>
            <div class="card-action">
                <a href="#">
                    Swan
                </a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="http://www.artfido.com/blog/wp-content/uploads/2015/04/pencil-tip-carvings-by-salavat-fidai-10.jpg">
            </div>
            <div class="card-action">
                <a href="http://www.artfido.com/blog/artist-carves-miniature-artworks-onto-the-tips-of-pencils/" target="_blank">
                    "Most impressive, this is."
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="http://i.dailymail.co.uk/i/pix/2016/05/26/09/3491A50100000578-3597007-Eiffel_Tower_The_man_says_he_takes_inspiration_from_the_objects_-a-10_1464250460371.jpg">
            </div>
            <div class="card-action">
                <a href="http://www.dailymail.co.uk/news/article-3597007/The-point-art-Engineer-turned-artist-carves-incredible-miniature-sculptures-pop-icons-landmarks-tips-PENCILS.html" target="_blank">
                    Eiffel Tower
                </a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="http://www.artfido.com/blog/wp-content/uploads/2015/04/pencil-tip-carvings-by-salavat-fidai-2.jpg">
            </div>
            <div class="card-action">
                <a href="http://www.dailymail.co.uk/news/article-3597007/The-point-art-Engineer-turned-artist-carves-incredible-miniature-sculptures-pop-icons-landmarks-tips-PENCILS.html" target="_blank">
                    Locks
                </a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="https://i1.wp.com/www.funpalstudio.com/wp-content/uploads/2016/07/Meticulous-Crayon-Carvings-Hoang-Tran-11.jpg">
            </div>
            <div class="card-action">
                <a href="http://www.funpalstudio.com/2016/07/21/tiny-popular-icons-on-crayon-by-hoang-tran/" target="_blank">
                    Beauty and the Beast
                </a>
            </div>
        </div>
    </div>
</div>