@{
    ViewBag.Title = "Home Page";
}
<div class="feature">
    <img src="http://3.bp.blogspot.com/-tAkh7TKyeQ0/UssqqqAUOwI/AAAAAAAAMxU/egaZHkhhs9A/s1600/9470415372_fc7bf64502_b++A+to+M.jpg" />
    <blockquote>
        Notice the small things. The rewards are inversely proportional.<br/>
        -Liz Vassey
    </blockquote>
</div>