
@{
    ViewBag.Title = "Resources";
}

<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>

<div class="row">
    <div class="col s12 m8">
        <ul>
            <li>
                <a href="https://www.instagram.com/salavat.fidai/" target="_blank">
                    Salavat Fidai's Instagram
                </a>
            </li>

            <li>
                <a href="http://mashable.com/2015/08/20/salavat-fidai-sculptures/#2ijt9mC5hgqm" target="_blank">
                    A Mashable article about Salavat Fidai.
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=ITDnSppDXrQ" target="_blank">
                    A step-by-step tutorial so you can be more like Salavat Fidai.
                </a>
                <sup>Good luck!</sup>
            </li>
        </ul>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="https://s-media-cache-ak0.pinimg.com/736x/a4/a9/86/a4a986af8944d0cd4727763637f048c6.jpg">
            </div>
        </div>
    </div>
</div>